asgiref==3.7.2
async-timeout==4.0.3
Django==4.2.2
djangorestframework==3.14.0
gunicorn==21.2.0
hiredis==2.3.2
psycopg==3.1.18
psycopg-binary==3.1.18
packaging==23.2
python-dotenv==1.0.0
pytz==2023.3
redis==5.0.1
sqlparse==0.4.4
typing_extensions==4.7.1
