{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% translate "Set a new password" %} {% endblock %}
{% block navbar %}{% endblock %}

{% block main %}

	<div class="h-100 d-flex text-start">

		<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
		<div class="mt-5 pt-5">{% include "messages.html" %}</div>

		<form class=" m-auto" method="post">
			{% csrf_token %}

			<h3 class="h3 mb-4 fw-normal text-center">{% translate "Set a new password" %}</h3>
				{% for field in set_password_form %}

					{% if field.name == "new_password1" %}
						{{ field.label }}
						<p data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="custom-popover" data-bs-html="true"
							data-bs-content={% blocktranslate %}
							"Your password must have:         <br>
							1) a 8 - 32 characters.           <br>
							2) at least one uppercase and lowercase letters. <br>
							3) at least one digit.            <br>
							4) at least one special character.">
						{% endblocktranslate %}
							{{ field }}
						</p>	

					{% else %}
						{{ field.label }}		
						{{ field }}

					{% endif %}
				{% endfor %}

			<button class="btn btn-primary w-100 py-2" type="submit">{% translate "Set a new password" %}</button>
		</form>

		{% include "footer.html" %}
	</div>

		<script>
			const popoverTriggerList = document.querySelectorAll("[data-bs-toggle='popover']")
			const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
		</script>
{% endblock main %}
