{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}
{% block navbar %}{% endblock %}
		
{% block main %}
		<div class="h-100 d-flex text-center">
			<form method="post" class="form-signin m-auto">
				{% csrf_token %} 

				<h3 class="h3 mb-4 fw-normal">Can't log in?</h3>           
				<p class="text-secondary m-lg-1 text-start">We'll send a recovery link to</p>
						
				<div class="form-floating">
					{% for field in reset_password_form %}
						{{ field }}
						<label for="floating{{field.name|title}}">{{ field.name|title }}</label>
					{% endfor %}
				</div>

				<button class="btn btn-primary w-100 mt-3 py-2" type="submit">Send </button>

				<div class="mt-4">
					<a href="{% url 'login' %}" class="me-3">Return to log in</a>
				</div>
			</form>

			{% include 'footer.html' %}
		</div>
{% endblock main %}
