{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}
{% block navbar %}{% endblock %}
		
{% block main %}
		<div class="container text-center center">
			<form class="form-signin m-auto" method="post">
				{% csrf_token %} 

				<h3 class="h3 mb-4 fw-normal">Can't log in?</h3>           
				<p class="text-secondary m-lg-1 text-start">We'll send a recovery link to</p>
						
				<div class="form-floating">
					{% for field in reset_password_form %}
						{{ field }}
						<label for="floating{{field.name|title}}">{{ field.name|title }}</label>
					{% endfor %}
				</div>

				<button class="btn btn-primary w-100 mt-3 py-2" type="submit">Send </button>

				<div class="mt-4">
					<a href="{% url 'login' %}" class="me-3">Return to log in</a>
				</div>
			</form>

			<footer class="col-12 position-fixed bottom-0 end-0">
				<p class="border-top"></p>
				<p class=" text-body-secondary">&copy; 2023 HaenesS</p>
			</footer> 
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
