{% extends 'base.html' %}
{% load static %}

{% block title %}Set a new password{% endblock %}
{% block navbar %}{% endblock %}

{% block main %}
<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
{% include 'messages.html' %}

	<div class="h-100 d-flex text-start">
		<form class=" m-auto" method="post">
			{% csrf_token %}

			<h3 class="h3 mb-4 fw-normal text-center">Set a new password</h3>
				{% for field in set_password_form %}

					{% if field.name == "new_password1" %}
						{{ field.label }}
						<p data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="custom-popover" data-bs-html="true"
							data-bs-content="Your password must have:         <br>
											1) a 8 - 32 characters.           <br>
											2) at least one uppercase letter. <br>
											3) at least one lowercase letter. <br>
											4) at least one digit.            <br>
											5) at least one special character.">
							{{ field }}
						</p>	

					{% else %}
						{{ field.label }}		
						{{ field }}

					{% endif %}
				{% endfor %}

			<button class="btn btn-primary w-100 py-2" type="submit">Set a new password</button>
		</form>

		{% include 'footer.html' %}
	</div>

		<script>
			const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
			const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
		</script>
{% endblock main %}
