/* Color of star icons in all appearance, except starred projects*/
.icon-color { color: grey; }


/* NAVBAR DROPDOWNS */
.text-small { font-size: 85%; }


/* PROJECTS.HTML */
.star-table {
	padding-top: 0px;
	padding-bottom: 0px;
}


html,
body {
	height: 98%;
	
}


/* SIDEBAR HEIGHT (TRY TO PREVENT UNNECESSARY SCROLLBAR) */
.fill {
	min-height: 91.2vh;
}


/* LOGIN, PASSWORD RESET AND PASSWORD CONFIRM PAGES */
.form-signin {
	max-width: 330px;
	padding: 1rem;
}


/* LOGIN.HTML */
.form-signin .form-floating:focus-within { z-index: 2; }

.form-signin input[type="text"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


/* REGISTER.HTML */
.form-register {
	max-width: 700px;
	padding: 1rem;
}

.custom-popover {
	--bs-popover-max-width: 225px;
	--bs-popover-border-color: var(--bs-primary);
	--bs-popover-header-bg: var(--bs-primary);
	--bs-popover-header-color: var(--bs-white);
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem;
} 
