{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<script src="{% static 'color-mode.js' %}"></script>
		{% block script %}{% endblock %}
	</head>

	<body>

<!-- NAVBAR -->
<!-- LEFT SIDE -->
	{% block navbar %}
		<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
			<div class="container-fluid">

				<a class="navbar-brand" href="{% url 'projects' %}">BugTracker</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
					aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>


<!-- TRIGER ISSUE MODAL-->

				<div class="collapse navbar-collapse" id="navbarText">
					{% block issue_modal %}{% endblock %}
				</div>

<!-- RIGTH SIDE -->
				<form action="{% url 'search' %}" class="col-12 col-lg-3 me-3" role="search">
					<input type="search" class="form-control" name="q"  placeholder="Search" aria-label="Search">
				</form>

				<div class="d-flex justify-content-center">
					<ul class="navbar-expand p-0 mb-0 mb-lg-0">
						<ul class="navbar-nav">

							<li class="nav-item dropdown m-1 me-3">
								<a href="#" role="button" data-bs-toggle="dropdown" data-bs-toggle="tooltip"
									data-bs-placement="bottom" title="Toggle color mode" aria-expanded="false"
									aria-labelledby="bd-theme-text" id="bd-theme">
									<i class="bi bi-gear-wide" style="font-size: 20px;color: grey;"></i>
								</a>
								<ul class="dropdown-menu text-small shadow" data-popper-placement="bottom-end"
									style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
									<li>
										<button type="button" class="dropdown-item d-flex align-items-center"
											data-bs-theme-value="light" aria-pressed="false">Light</button>
									</li>
									<li>
										<button type="button" class="dropdown-item d-flex align-items-center"
											data-bs-theme-value="dark" aria-pressed="false">Dark</button>
									</li>
									<li>
										<button type="button" class="dropdown-item d-flex align-items-center"
											data-bs-theme-value="auto" aria-pressed="false">Auto</button>
									</li>
								</ul>
							</li>

							<li class="nav-item dropdown m-1">
								<a href="#" role="button" data-bs-toggle="dropdown" data-bs-toggle="tooltip"
									data-bs-placement="bottom" title="User" aria-expanded="false">
									<i class="bi bi-person-circle" style="font-size: 20px;color: grey;"></i>
								</a>
								<ul class="dropdown-menu text-small shadow"
									style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);"
									data-popper-placement="bottom-end">

									<li><a class="dropdown-item" href="{% url 'accounts' user_id %}">Account details</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
								</ul>
							</li>

						</ul>
					</ul>
				</div>
			</div>
		</nav>
	{% endblock navbar %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		{% block sidebar %}{% endblock %}
		{% block main %}{% endblock %}
	</body>
</html>
