{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% translate "Registration" %} {% endblock %}
{% block navbar %}{% endblock %}

{% block main %}
		<div class="h-100 d-flex text-center">
			<form method="post" class="form-register m-auto">
				{% csrf_token %}

				<h3 class="h3 mb-4 fw-normal">{% translate "Registration" %}</h3>

				<div class="row justify-content-center flex-lg-wrap">

					{% for field in register_form %}

						{% if field.name == "password1" %}
							<div class="col-5">

								<label class="form-label" for="{{ field.name }}">{% translate "Password" %}</label>
								<p data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="custom-popover"
								   data-bs-html="true" 
								   data-bs-content={% blocktranslate %}
								   "Your password must have:         <br>
								   1) a 8 - 32 characters.           <br>
								   2) at least one uppercase and lowercase letters. <br>
								   3) at least one digit.            <br>
								   4) at least one special character.">
							   {% endblocktranslate %}
			
									{{ field }}
								</p>

								{% if field.errors %}
									{% for error in field.errors %}
										<ol class="mt-2 text-danger fw-medium p-0">{{ error }}</ol>
									{% endfor %}
								{% endif %}
							</div>

						{% else %}
							<div class="col-5">
				
								<label class="form-label" for="{{ field.name }}">{{ field.label }}</label>
								{{ field }}

								{% if field.errors %}
									{% for error in field.errors %}
										<ol class="mt-2 text-danger fw-medium">{{ error }}</ol>
									{% endfor %}
								{% endif %}
							</div>
						{% endif %}					
					{% endfor %}

				</div>

				<div class="col-12 mt-4">
					<button class="btn btn-primary" type="submit">{% translate "Register" %}</button>
				</div>
			</form>

			{% include "footer.html" %}
		</div>


		<script>
			const popoverTriggerList = document.querySelectorAll("[data-bs-toggle='popover']")
			const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
		</script>
{% endblock main %}
