<div class="modal fade" id="staticBackdropChangePassword" data-bs-backdrop="static" data-bs-keyboard="true"
	tabindex="-1" aria-labelledby="staticBackdropChangePassword" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropChangePassword">Change password</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form method="post">
					{% csrf_token %}

					<div class="col-7">
						{% for field in password_change_form %}
							<div>
								{% if field.name == "new_password1" %}
									{{ field.label }}
									<p data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="custom-popover" data-bs-html="true"
										data-bs-content="Your password must have:         <br>
														1) a 8 - 32 characters.           <br>
														2) at least one uppercase letter. <br>
														3) at least one lowercase letter. <br>
														4) at least one digit.            <br>
														5) at least one special character.">							
										{{ field }}
									</p>

								{% else %}
									{{ field.label }}
									{{ field }}
								{% endif %}
							</div>
						{% endfor %}
					</div>

					<div class="modal-footer pb-0">
						<a href="{% url 'accounts' user_id %}">
							<button type="submit" class="btn btn-primary" name="change_password">Change password</button>
						</a>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
