<div class="modal fade" id="staticBackdropChangePassword" data-bs-backdrop="static" data-bs-keyboard="true"
	tabindex="-1" aria-labelledby="staticBackdropChangePassword" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropChangePassword">Change password</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form method="post">
					{% csrf_token %}

					<div class="col-7">
						{% for field in password_change_form %}
						<div>
							{{ field.label }}
							{{ field }}
						</div>
						{% endfor %}
					</div>

					<div class="modal-footer pb-0">
						<a href="{% url 'accounts' user_id %}">
							<button type="submit" class="btn btn-primary" name="change_password">Change
								password</button>
						</a>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>