{% extends 'base.html' %}
{% load static %}

{% block title %} Account details {% endblock%}

{% block main %}

<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
	{% include 'messages.html' %}

	<div class="ms-3 mt-3">
		<h4 class="h4 mb-3 fw-normal">Account Details</h4>
		<form method="post">
			{% csrf_token %}
			<div class="col-3">
				{% for field in user_form %}
					<div class="col-8 mb-3">
						{{ field.label }}				
						{{ field }}
					</div>
				
					{% if field.errors %}
						{% for error in field.errors %}
							<ol class="mt-2 text-danger fw-medium p-0">{{ error }}</ol>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div> 

<!-- CHANGE PASSWORD MODAL TRIGER -->
			<div class="mt-3">
				<a href="#"
					class="link-primary link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover"
					data-bs-toggle="modal" data-bs-target="#staticBackdropChangePassword">
					Change password
				</a>
			</div>

<!-- DELETE ACCOUNT MODAL TRIGER -->
			<div class="mt-3">
				<a href="#" 
					class="link-danger link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" 
					data-bs-toggle="modal" data-bs-target="#staticBackdropDelete">
					Delete account
				</a>
			</div>

			<div class="mt-3">
				<button class="btn btn-primary" type="submit" name="user_details">Update</button>
			</div>
		</form>
	</div>
	

<!-- CHANGE PASSWORD MODAL -->
	{% include 'change-password.html' %}

<!-- ACCOUNT DELETE MODAL -->
	{% include 'delete-account.html' %}

	<script>
		const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
		const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
	</script>

{% endblock %}
