{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% translate "Board" %} {% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'favorite.js' %}"></script>
	<script type="text/javascript" src="{% static 'cards.js' %}"></script>
{% endblock script %}

{% block issue_modal %}
	<ul class="navbar-nav nav-underline me-auto mb-lg-0">
		<ul class="navbar-nav me-auto mt-1 mb-4 mb-lg-0">
			<li class="nav-item">
				<button type="button" class="btn btn-outline-primary rounded-3" data-bs-toggle="modal"
					data-bs-target="#staticBackdropIssue">
					{% translate "Create Issue" %}
				</button>
			</li>
		</ul>
	</ul>
{% endblock issue_modal %}

{% block main %}
	{% include "sidebar.html" %}

<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
	{% include "messages.html" %}


<!-- BREADCRUMB -->
	{% block breadcrumb %}
		{{ block.super }}</ol></nav>
	{% endblock breadcrumb %}

<!-- FAVORITE PROJECT STAR -->
		<div class="row mt-2">

			<div class="container mb-2">
				<div class="row justify-content-between text-start">
					<div class="col-sm-4">
						<h4 class="h4 fw-normal">{{project.name}} {% translate "board" %}</h4>
					</div>
					<div class="col-sm-4 text-end">

						{% if project.starred %}
							<button type="button" class="btn p-0" data-text="add" data-bs-toggle="tooltip" data-bs-placement="bottom"
								title="Favorite project">
								<i id="star{{project.id}}" class="fs-5 bi bi-star-fill" onclick="changeIcon(this)" data="{% url 'projects' %}" style="color: gold;"></i>
							</button>
						{% else %}
							<button type="button" class="btn p-0" data-text="remove" data-bs-toggle="tooltip" data-bs-placement="bottom"
								title="Favorite project">
								<i id="star{{project.id}}" class="fs-5 bi bi-star icon-color" onclick="changeIcon(this)" data="{% url 'projects' %}"></i>
							</button>
						{% endif %}

					</div>
				</div>
			</div>


<!-- ISSUE CARDS -->
<!-- TO DO -->
			<div class="col-sm-4">
				<div class="card bg-body-tertiary">
					<div class="card-header" name="To do">{% translate "TO DO" %}</div>
					<div id="To do" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% for issue in issues_list %}
						
							{% if issue.status == "To do" %}
								<div class="card mb-2" draggable="true" ondragstart="drag(event)" id="card{{issue.id}}" data="{% url 'boards' project.id %}">
									<div class="card-body">
										{{ issue.title }}
									</div>

									<div class="card-footer border-0 bg-transparent">
										<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
											data-bs-target="#staticBackdropBoard{{issue.id}}">{{ project.key }}-{{ issue.key }}
										</button>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

<!-- IN PROGRESS -->
			<div class="col-sm-4">			
				<div class="card bg-body-tertiary">
					<div class="card-header" name="In progress">{% translate "IN PROGRESS" %}</div>
					<div id="In progress" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% for issue in issues_list %}
							{% if issue.status == "In progress" %}
								<div class="card mb-2" draggable="true" ondragstart="drag(event)" id="card{{issue.id}}" data="{% url 'boards' project.id %}">
									<div class="card-body">
										{{ issue.title }}
									</div>
					
									<div class="card-footer border-0 bg-transparent">
										<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
											data-bs-target="#staticBackdropBoard{{issue.id}}">{{ project.key }}-{{ issue.key }}
										</button>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

<!-- DONE -->
			<div class="col-sm-4">
				<div class="card bg-body-tertiary">
					<div class="card-header" name="Done">{% translate "DONE" %}</div>
					<div id="Done" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% for issue in issues_list %}
							{% if issue.status == "Done" %}			
								<div class="card mb-2" draggable="true" ondragstart="drag(event)" id="card{{issue.id}}" data="{% url 'boards' project.id %}">
									<div class="card-body">
										{{ issue.title }}
									</div>
					
									<div class="card-footer border-0 bg-transparent">
										<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
											data-bs-target="#staticBackdropBoard{{issue.id}}">{{ project.key }}-{{ issue.key }}
										</button>
									</div>
								</div>
							{% endif %}
						{% endfor %}						
					</div>
				</div>
			</div>
		</div>
			

<!-- CREATE ISSUE MODAL -->
	{% include "create-issue.html" %}

<!-- BOARD ISSUE MODAL -->
	{% for issue in issues_list %}
		<div class="modal fade" id="staticBackdropBoard{{issue.id}}" data-bs-backdrop="static" tabindex="-1"
			aria-labelledby="staticBackdropBoardIssue" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
		
					<div class="modal-header">
						<h6 class="modal-title fw-normal">{{ project.key }}-{{ issue.id }}</h6>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
		
					<div class="modal-body">
						<div class="container">
							<div class="row justify-content-between text-start">
								<div class="col mt-2 top-0 start-0">
									<h5 class="fw-normal">{{ issue.title }}</h5>
								</div>
							</div>
		
							<div class="row justify-content-between text-start mt-3">
								<div class="col-6">
									<div class="form-outline mb-3">
										{% if issue.description %}
											<textarea class="form-control w-100 bg-body-tertiary" id="textArea" rows="8"
												placeholder="{{ issue.description }}" disabled></textarea>
										{% else %}
											<textarea class="form-control w-100 bg-body-tertiary" id="textArea" rows="8" 
												placeholder="Description is empty" disabled></textarea>
										{% endif %}
									</div>
								</div>

								{% translate issue.status as status %}
								{% translate issue.priority as priority %}
								{% translate issue.type as type %}

								<div class="col-5">
									<div class="d-flex flex-column">
										<div class="p-2 fw-normal" id="status{{ issue.id }}">{% translate "Status" %}: {{ status }}</div>
										<div class="p-2 fw-normal">{% translate "Priority" %}: {{ priority }}</div>
										<div class="p-2 fw-normal">{% translate "Type" %}: {{ type }}</div>
										<div class="p-2 fw-normal">{% translate "Generated" %}: {{ issue.created }}</div>
										<div class="p-2 fw-normal">{% translate "Updated" %}: {{ issue.updated }}</div>
										<hr>
										<div class="align-self-end">
											<a href="{% url 'issue-details' project.id issue.id %}"
												class="nav-link px-0 text-end text-secondary">
												<i class="fs-5 bi bi-gear-wide icon-color"></i>
												<span class="ms-1 d-none d-sm-inline">{% translate "Configure" %}</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	
{% endblock main %}
