{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %} {% translate "Board" %} {% endblock %}

{% block script %}
	<script defer src="{% static 'mini/boards.min.js' %}"></script>
{% endblock script %}

{% block issue_modal %}
	<ul class="navbar-nav nav-underline me-auto mb-lg-0">
		<ul class="navbar-nav me-auto mt-1 mb-3 mb-lg-0">
			<li class="nav-item">
				<button type="button" class="btn btn-outline-primary rounded-3" data-bs-toggle="modal"
					data-bs-target="#staticBackdropIssue">
					{% translate "Create Issue" %}
				</button>
			</li>
		</ul>
	</ul>
{% endblock issue_modal %}

{% block sidebar %} {% include "sidebar.html" %} {% endblock sidebar %}

{% block main %}

<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
	{% include "messages.html" %}

<!-- BREADCRUMB -->
	{% block breadcrumb %}
		{{ block.super }}</ol></nav>
	{% endblock breadcrumb %}

<!-- FAVORITE PROJECT STAR -->
	<div class="hstack">
		<div class="mt-1">
			<h4 class="h4 fw-normal">{{project.name}} {% translate "board" %}</h4>
		</div>
		<div class="ms-auto me-2 mb-1">
			
			{% if project.starred %}
				<button type="button" class="btn p-0" data-text="add" data-bs-toggle="tooltip" data-bs-placement="bottom"
					title="Favorite project">
					<i>
						<svg id="star{{project_id}}" onclick="changeIcon(this)" data="{% url 'projects' %}" style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="fs-5 bi bi-star-fill" viewBox="0 0 16 16">
							<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg>
					</i>
				</button>
			{% else %}
				<button type="button" class="btn p-0" data-text="remove" data-bs-toggle="tooltip" data-bs-placement="bottom"
					title="Favorite project">
					<i>
						<svg id="star{{project_id}}" onclick="changeIcon(this)" data="{% url 'projects' %}"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="fs-5 icon-color bi bi-star" viewBox="0 0 16 16">
							<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
						</svg>
					</i>
				</button>
			{% endif %}
		</div>
	</div>


<!-- ISSUE CARDS -->
	<div class="row mt-2">
<!-- TO DO -->
		<div class="col-sm-4 mb-3">
			<div class="card bg-body-tertiary">
				<div class="card-header" name="To do">{% translate "TO DO" %}</div>
				<div id="To do" class="card-body droppable">

					{% for issue in issues_list %}
					
						{% if issue.status == "To do" %}
							<div class="card mb-2" draggable="true" id="card{{issue.id}}" data="{% url 'boards' project_id %}">
								<div class="card-body">
									{{ issue.title }}
								</div>

								<div class="card-footer border-0 bg-transparent">
									<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
										data-bs-target="#staticBackdropBoard{{issue.id}}">{{ project.key }}-{{ issue.key }}
									</button>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

<!-- IN PROGRESS -->
		<div class="col-sm-4 mb-3">			
			<div class="card bg-body-tertiary">
				<div class="card-header" name="In progress">{% translate "IN PROGRESS" %}</div>
				<div id="In progress" class="card-body droppable">

					{% for issue in issues_list %}
						{% if issue.status == "In progress" %}
							<div class="card mb-2" draggable="true" id="card{{issue.id}}" data="{% url 'boards' project_id %}">
								<div class="card-body">
									{{ issue.title }}
								</div>
				
								<div class="card-footer border-0 bg-transparent">
									<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
										data-bs-target="#staticBackdropBoard{{issue.id}}">{{ project.key }}-{{ issue.key }}
									</button>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

<!-- DONE -->
		<div class="col-sm-4">
			<div class="card bg-body-tertiary">
				<div class="card-header" name="Done">{% translate "DONE" %}</div>
				<div id="Done" class="card-body droppable">

					{% for issue in issues_list %}
						{% if issue.status == "Done" %}			
							<div class="card mb-2" draggable="true" id="card{{issue.id}}" data="{% url 'boards' project_id %}">
								<div class="card-body">
									{{ issue.title }}
								</div>
				
								<div class="card-footer border-0 bg-transparent">
									<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
										data-bs-target="#staticBackdropBoard{{issue.id}}">{{ project.key }}-{{ issue.key }}
									</button>
								</div>
							</div>
						{% endif %}
					{% endfor %}						
				</div>
			</div>
		</div>
	</div>
			

<!-- CREATE ISSUE MODAL -->
	{% include "create-issue.html" %}

<!-- BOARD ISSUE MODAL -->
	{% for issue in issues_list %}
		<div class="modal fade" id="staticBackdropBoard{{issue.id}}" data-bs-backdrop="static" tabindex="-1"
			aria-labelledby="staticBackdropBoardIssue" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
		
					<div class="modal-header">
						<h6 class="modal-title fw-normal">{{ project.key }}-{{ issue.key }}</h6>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
		
					<div class="modal-body">
						<div class="container">
							<div class="row justify-content-between text-start">
								<div class="col mt-2 top-0 start-0">
									<h5 class="fw-normal">{{ issue.title }}</h5>
								</div>
							</div>
		
							<div class="row justify-content-between text-start mt-3">
								<div class="col-6">
									<div class="form-outline mb-3">
										{% if issue.description %}
											<textarea class="form-control w-100 bg-body-tertiary" id="textArea_{{ issue.id }}" rows="8"
												placeholder="{{ issue.description }}" disabled></textarea>
										{% else %}
											<textarea class="form-control w-100 bg-body-tertiary" id="textArea_{{ issue.id }}" rows="8" 
												placeholder="Description is empty" disabled></textarea>
										{% endif %}
									</div>
								</div>

								{% translate issue.status as status %}
								{% translate issue.priority as priority %}
								{% translate issue.type as type %}

								<div class="col-5">
									<div class="d-flex flex-column">
										<div class="p-2 fw-normal" id="status{{ issue.id }}">{% translate "Status" %}: {{ status }}</div>
										<div class="p-2 fw-normal">{% translate "Priority" %}: {{ priority }}</div>
										<div class="p-2 fw-normal">{% translate "Type" %}: {{ type }}</div>
										<div class="p-2 fw-normal">{% translate "Generated" %}: {{ issue.created|date:"d.m.Y H:i:s" }}</div>
										<div class="p-2 fw-normal" id="updated{{ issue.id }}">{% translate "Updated" %}: {{ issue.updated|date:"d.m.Y H:i:s" }}</div>
										<hr>
										<div class="align-self-end">
											<a href="{% url 'issue-details' project_id issue.id %}"
												class="nav-link px-0 text-end text-secondary">
												<i class="fs-5 icon-color">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
														<path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
													</svg>
												</i>
												<span class="ms-1 d-none d-sm-inline">{% translate "Configure" %}</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock main %}
