{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% translate "Login" %} {% endblock %}
{% block navbar %}{% endblock %}

{% block main %}

<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
{% include "messages.html" %}

	<div class="h-100 d-flex text-center">

		<form method="post" class="form-signin m-auto"> 
			{% csrf_token %}
			
			<h3 class="h3 mb-4 fw-normal">{% translate "Log in" %}</h3>

			{% for field in login_form %}
				{% if field.name == "remember" %}
					<div class="form-check text-start my-3">
						{{ field }}
						<label class="form-check-label" for="remember_me">{% translate "Remember me" %}</label>						
					</div>

				{% else %}
				<div class="form-floating">
					{{ field }}
					<label for="floating{{field.name|title}}">{{ field.label|title }}</label>
				</div>

				{% endif %}
			{% endfor %}

			<a href="{% url 'projects' %}"><button class="btn btn-primary w-100 py-2" type="submit">{% translate "Sign in" %}</button></a>

			<div class="mt-3">
			<a href="{% url 'password-reset' %}" class="me-3">{% translate "Can't log in?" %}</a>
			<a href="{% url 'register' %}">{% translate "Create an account" %}</a>
			</div>

		</form>

		{% include "footer.html" %}
	</div>
{% endblock main %}
