{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block navbar %}{% endblock %}

{% block main %}
<!-- SHOWS SUCCESS/ERROR MESSAGES  -->

{% include 'messages.html' %}
	<div class="h-100 d-flex text-center">

		<form method="post" class="form-signin m-auto"> 
			{% csrf_token %}
			
			<h3 class="h3 mb-4 fw-normal">Log in</h3>

			{% for field in login_form %}
				<div class="form-floating">
					{{ field }}
					<label for="floating{{field.name|title}}">{{ field.name|title }}</label>
				</div>
			{% endfor %}

			<div class="form-check text-start my-3">
				<input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
				<label class="form-check-label" for="flexCheckDefault">Remember me</label>
			</div>

			<a href="{% url 'projects' %}"><button class="btn btn-primary w-100 py-2" type="submit">Sign in</button></a>

			<div class="mt-3">
			<a href="{% url 'password-reset' %}" class="me-3">Can't log in?</a>
			<a href="{% url 'register' %}">Create an account</a>
			</div>

		</form>

		{% include 'footer.html' %}
	</div>
{% endblock main %}
