{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BugTracker</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>

	<body class="d-flex align-items-center py-4 bg-body-tertiary">

		<div class="container text-center center"> 
			<form method="post" class="form-signin m-auto"> 
				{% csrf_token %}
				
				<h3 class="h3 mb-4 fw-normal">Please sign in</h3>

				{% for field in login_form %}

					<div class="form-floating">
						{{ field }}
						<label for="floating{{field.name|title}}">{{ field.name|title }}</label>
					</div>

<!-- If validation error: message will output only below password field once -->
					{% if field.name == "password" and messages %}
						{% for message in messages %}
							<ol class="mt-2 text-danger fw-medium p-0">{{ message }}</ol>
						{% endfor %}
					{% endif %}

				{% endfor %}

				<div class="form-check text-start my-3">
			 		<input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">Remember me</label>
				</div>

				<a href="{% url 'projects' %}"><button class="btn btn-primary w-100 py-2" type="submit">Sign in</button></a>

				<div class="mt-3">
				<a href="{% url 'password-reset' %}" class="me-3">Can't log in?</a>
				<a href="{% url 'register' %}">Create an account</a>
				</div>

			</form>

			<footer class="col-12 position-fixed bottom-0 start-0">
				<p class="border-top"></p>
				&copy; 2023 Haenes		
			</footer> 
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
