{% extends "base.html" %}

{% load static %}

{% block title %} Project settings {% endblock %}

{% block main %}
	{% include "sidebar.html" %}

<!-- BREADCRUMB -->
	{% block breadcrumb %}
		{{ block.super }}
				<li class="breadcrumb-item">
					<a class="link-offset-2 link-secondary link-offset-3-hover link-underline 
						link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'project-settings' project.id %}">
						Project details
					</a>
				</li></ol></nav>
	{% endblock breadcrumb %}
	
<!-- PROJECT DETAILS -->
	<div class="row mt-2 me-0">
		<div class="container ms-3 mb-2">
			<div class="row justify-content-between text-start">
				<div class="col-sm-4">
					<h4 class="h4 fw-normal">Details</h4>
				</div>
			</div>
		</div>

		<div class="ms-3">
			<form method="post">
				{% csrf_token %}					
					{% for field in project_form %}
						{% if field.name == "starred" %}
							<div class="col-md-6 mb-4">
								<p class="text-secondary m-0 text-start">Favorite</p>
								{{ field }}
							</div>
					
						{% else %}
							<div class="col-2 mb-3">
								<p class=" m-0 text-start">{{ field.name|title }}</p>
								{{ field }}
							</div>

							{% if field.errors %}
								{% for error in field.errors %}
									<ol class="mt-2 text-danger fw-medium p-0">{{ error }}</ol>
								{% endfor %}
							{% endif %}
							
						{% endif %}
					{% endfor %}

<!-- DELETE PROJECT MODAL TRIGER -->
				<div class="col-4 mt-3">
					<a href="#" 
						class="link-danger link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover"
						data-bs-toggle="modal" data-bs-target="#DeleteProject">
						Delete project
					</a>
				</div>

				<div class="mt-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>


<!-- DELETE PROJECT MODAL -->
	{% include "delete-project.html" %}
					
{% endblock main %}
