{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %} {% translate "Projects" %} {% endblock %}

{% block script %}
<script defer src="{% static 'minify/favorite.min.js' %}"></script>  
{% endblock %}

{% block main %}
	<div class="container-fluid">

		<div class="ms-auto mt-3">
			<h4>{% translate "Projects" %}</h4>
		</div>
		
<!-- SHOWS SUCCESS/ERROR MESSAGES  -->
		{% include "messages.html" %}

<!-- TRIGER CREATE PROJECT MODAL -->
		<button type="button" class="btn btn-outline-primary rounded-3 mt-2" data-bs-toggle="modal"
			data-bs-target="#staticBackdropProject">
			{% translate "Create new project" %}
		</button>

<!-- TABLE -->
		<div class="table-responsive mt-2 text-center w-auto">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th>
							<i class="icon-color" style="font-size: 16px;">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
									<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
								</svg>
							</i>
						</th>
						<th scope="col">{% translate "Name" %}</th>
						<th scope="col">{% translate "Key" %}</th>
						<th scope="col">{% translate "Type" %}</th>
						<th scope="col">{% translate "Created" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for project in page_obj %}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>

							{% if project.starred %}
								<td>
									<button type="button" class="btn star-table">
										<i>
											<svg id="star{{project.id}}" onclick="changeIcon(this)" data="{% url 'projects' %}" style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fs-6 bi bi-star-fill" viewBox="0 0 16 16">
												<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
											</svg>
										</i>
									</button>
								</td>						
							{% else %}
								<td>
									<button type="button" class="btn star-table">
										<i>
											<svg id="star{{project.id}}" onclick="changeIcon(this)" data="{% url 'projects' %}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fs-6 icon-color bi bi-star" viewBox="0 0 16 16">
												<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
											</svg>
										</i>
									</button>
								</td>
							{% endif %}

							<td>
								<a class="link-offset-2 link-primary link-offset-3-hover link-underline 
									link-underline-opacity-0 link-underline-opacity-75-hover"
									href="{% url 'boards' project.id %}">{{ project.name }}
								</a>
							</td>
									
							<td>{{ project.key }}</td>
							<td>{{ project.type }}</td>
							<td>{{ project.created }}</td> 
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

<!-- PAGINATION -->
	<footer class="footer mt-auto">
		<nav aria-label="Page navigation">
			<ul class="pagination pagination-sm mb-3 justify-content-center">				
				{% if page_obj.paginator.num_pages == 1 %}
				{% else %}
					{% for page_number in page_obj.paginator.page_range %}	

						{% if page_number == page_obj.number %}
							<li class="page-item active">
								<a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
							</li>
						{% else %}
							<li class="page-item">
								<a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
							</li>
						{% endif %}				

					{% endfor %}
				{% endif %}
			</ul>
		</nav>
	</footer>


<!-- CREATE PROJECT MODAL -->
	{% include "create-project.html" %}
{% endblock main %}
