<div class="container mb-2">
	<div class="row justify-content-between text-start">
		<div class="col-sm-4">
			<h4 class="h4 fw-normal">{{project.name}} board</h4>
		</div>
		<div class="col-sm-4 text-end">

			{% if project.starred %}
			<button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-placement="bottom"
				title="Starred project">
				<i class="fs-5 bi bi-star-fill" style="color: gold;"></i></button>
			{% else %}
			<button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-placement="bottom"
				title="Starred project">
				<i class="fs-5 bi bi-star icon-color"></i></button>
			{% endif %}

		</div>
	</div>
</div>


<!-- TODO CARD-->
<div class="col-sm-4">

	<div class="card bg-body-tertiary">
		<div class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">
			{% for issue in issues_list %}
			{% if issue.status == 'To do' %}

			<h6 class="card-title">TO DO {{ issues_num }} ISSUES</h6>
			<div class="dropdown">
				<button type="button" class="btn p-0 mb-2 fw-medium text-secondary border-0" data-bs-toggle="dropdown"
					aria-expanded="false" data-bs-auto-close="outside">
					<i class="fs-6 bi bi-plus-lg icon-color"></i> Create issue
				</button>

				<div class="container-fluid">
					<form class="dropdown-menu p-4 bg-body-tertiary">
						<div class="row mb-3">
							<input type="text"
								class="form-control border-0 shadow-none placeholder-color  bg-body-tertiary"
								placeholder="What needs to be done?">
						</div>

						<div class="row mb-3">
							<select class="form-select border-0 shadow-none  bg-body-tertiary"
								aria-label="Default select example">
								<option selected>Issue type</option>
								<option value="1">*Type 1*</option>
								<option value="2">*Type 2*</option>
								<option value="3">*Type 3*</option>
							</select>
						</div>

						<button type="submit" class="btn btn-secondary">Create</button>
					</form>
				</div>
			</div>

			<div class="card mb-2" draggable="true" ondragstart="drag(event)" id="card3">
				<div class="card-body">
					{{ issue.title }}
				</div>

				<div class="card-footer border-0 bg-transparent">
					<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
						data-bs-target="#staticBackdropBoardIssue">{{ project.key }}-{{ issue.issue_num }}</button>
				</div>
			</div>

			{% elif issue.status == 'In progress' %}
			<div class="col-sm-4">
				<div class="card bg-body-tertiary">
					<div class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">
						<h6 class="card-title">IN PROGRESS</h6>

						<div class="card mb-2" draggable="true" ondragstart="drag(event)" id="card3">
							<div class="card-body">
								{{ issue.title }}
							</div>

							<div class="card-footer border-0 bg-transparent">
								<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
									data-bs-target="#staticBackdropBoardIssue">{{ project.key }}-{{ issue.issue_num
									}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col-sm-4">
				<div class="card bg-body-tertiary">
					<div class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">
						<h6 class="card-title">DONE</h6>
						<div class="card mb-2" draggable="true" ondragstart="drag(event)" id="card3">
							<div class="card-body">
								{{ issue.title }}
							</div>

							<div class="card-footer border-0 bg-transparent">
								<button type="button" class="btn stretched-link border-0" data-bs-toggle="modal"
									data-bs-target="#staticBackdropBoardIssue">{{ project.key }}-{{ issue.issue_num
									}}</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
		